html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Nikaia - Regular Italic";
    font-size: 16px;
    font-weight: lighter;
    line-height: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1,
h2,
h3,
h4,
.h {
    margin: 0;
    font-weight: lighter;
}

h1>a,
h2>a,
h3>a,
h4>a,
.h>a,
header a,
footer a {
    text-decoration: none;
}

a {
    color: #333;
}

a:visited {
    color: #333;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

span {
    color: #8e4423;
}

.wrapper {
    background-color: #8e4423;
    background-image: url(../img\ Maryna/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-width: 976px;
    width: 75%;
    padding: 0;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.66);
    background-color: #242729;
    height: 5rem;
    border-radius: 0 0 0.75rem 0.75rem;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.logo {
    color: #e6e3bb;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    padding: 0 1.75rem;
    border-right: 2px solid #7b7a6d;
    font-family: 'Roboto', sans-serif;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    margin-left: -24rem;
}

.main-menu a {
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    color: #e6e3bb;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
}

.main-menu a:hover {
    color: #8e4423;
}

.buttons {
    padding-right: 1.75rem;

}

.black {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
    background-color: #202224;
    color: #7b7a6d;
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 0.25rem;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0.19) 50%);
    margin-right: 0.75rem;
    border: none;
    outline: none;
    height: 1.65rem;
    font-family: 'Roboto', sans-serif;
}

.brown {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.46), inset 0 1px 0 rgba(255, 255, 255, 0.22);
    background-color: #8e4423;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.19) 0%, rgba(255, 255, 255, 0.19) 100%);
    height: 1.65rem;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #e6e3bb;
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 0.25rem;
}

.main-photo {
    text-align: center;
    margin-top: -2rem;
}

.main-container {
    width: 100%;
    margin: auto;
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: #242729;
}

.broun-section {
    background-color: #8e4423;
}


.white-section {
    display: flex;
    flex-direction: row;
    background-color: #e6e3bb;
    height: 519px;
}

.black-section {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    padding: 2.75rem 1rem;
}

.photo-galery img {
    width: 110px;
    height: 88px;
    border: 0.25rem solid #8e4423;
    margin: 0.75rem;
    position: relative;
}

.photo-galery {
    display: flex;
    justify-content: space-between;
}

.featured-info {
    margin-left: 2rem;
    color: #7b7a6d;
    height: 88px;
    margin: 0.75rem;
}

.info-blok {
    display: flex;
    margin: 0px;
}

.info-blok-text h3 {
    color: #8e4423;
    font-family: "Myriad Pro - Semibold";
    font-size: 18px;
}

.info-blok-text h4 {
    color: #646363;
    font-family: "Myriad Pro - It";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.info-blok p {
    font-size: 13px;
    font-weight: 400;
}

.cert {
    width: 25px;
    height: 32px;
    margin-right: 0.5rem;
}

.line {
    width: 72%;
    height: 2px;
    background-color:  #393b3d;
    margin:auto; 
    position: absolute;
    left:14%;    
    bottom:32%;   
}
