html {
    background: url("../img_ann/Background.png");
}

/*Header*/

.menu-box {
    margin-left: 13%;
    display: flex;
    color: #e6e3bb;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    width: 960px;
    height: 92px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.66);
    background-color: #242729;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
}

.logo {
    width: 119px;
    height: 25px;
    color: #e6e3bb;
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 59px;
}

.menu {
    display: block;
}

ul.topnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 3%;
}

ul.topnav li {
    float: right;
}

ul.topnav li {
    display: inline-block;
    color: #e6e3bb;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Inconsolata', monospace;
}

ul.topnav li:hover {
    color: #8e4423;
}

.input-position {
    margin-left: 13%;
    margin-top: 2%;
}

.menu-input {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
    border-radius: 10%;
    background-color: #202224;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0.19) 100%);
}

.search {
    width: 35%;
    position: relative;
}

.search input {
    border: none;
}

.search .input {
    width: 240%;
    background: #333333;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0.19) 100%);
    padding: 8px 37px 9px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0.19) 100%);
    color: #8e4423;
}

.search .submit {
    position: absolute;
    margin-left: 174%;
    top: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
}

.search .submit:hover {
    opacity: 0.8;
}

input[type="search"] {
    -webkit-appearance: none;
}

.menu-button-brown {
    margin-top: 2%;
}

.menu-button {
    width: 108px;
    height: 27px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.46), inset 0 1px 0 rgba(255, 255, 255, 0.22);
    background-color: #8e4423;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.19) 0%, rgba(255, 255, 255, 0.19) 100%);
    border-radius: 8px;
    border: none;
    color: #e6e3bb;
    font-family: "Myriad Pro";
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.56);
}

/*Title*/

.title-container{
    text-align: -webkit-center;
    margin: 2%;
}
.maine-title{
    width: 557px;
    height: 93px;
    background-clip: text;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
    color: #e6e3bb;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    font-style: italic;

}
/*Gray-container*/
.grey-container{
    margin-left: 13%;
    display: flex;
    color: #e6e3bb;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    width: 960px;
    height: 1607px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.46), inset 0 1px 0 rgba(255, 255, 255, 0.22);
    background-color: #242729;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.36) 0%, rgba(255, 255, 255, 0.36) 100%);
}
.grey-first-box-title{
    color: #7b7a6d;
    font-family: "Myriad Pro";
    font-size: 13px;
}


